{% extends 'base.html.twig' %}

{% block title %}Votre resto
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3">Bienvenue dans votre restaurant !</h1>
	<script>
		document.getElementById('accueil').style.display = 'none';
	</script>
{% endblock %}
