<nav class="navbar navbar-expand-lg navbar-light bg-light">


	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="https://127.0.0.1:8000">Votre restaurant
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('menu_index' ) }}">Menus</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Commande</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>

		</ul>

	</div>
</nav>
