{{ form_start(form) }}

{{ form_row(form.quantity, {'label': 'Quantité','attr': {'placeholder': "Quantité"}}) }}


<button class="btn btn-success">{{ button_label|default('Lancer la commande') }}</button>
{{ form_end(form) }}
