{% extends 'base.html.twig' %}

{% block title %}Modifier une commande.
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5">Modifier la commande :
			{% for item in order %}
				{{ item.name }}
			{% endfor %}
		</h1>

		{{ include('admin/purchase/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<button class="btn btn-primary mt-2">
			<a style="color:white; text-decoration: none;" href="{{ path('purchase_admin_index') }}">Retour à la liste des commandes</a>
		</button>

		<p class="mt-2">{{ include('admin/purchase/_delete_form.html.twig') }}</p>

	</div>

{% endblock %}
