{% extends 'base.html.twig' %}

{% block title %}Modifier une commande.
{% endblock %}

{% block body %}
	<div class="container">

		{% for item in order.menu %}
			<h1 class="text-center mt-5">Modifier ou annuler la commande :
				{{ item.name }}</h1>
		{% endfor %}
		<div class="container mt-5">
			{{ include('purchase/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

			<button class="btn btn-primary mt-3">
				<a style="color: white; text-decoration:none;" href="{{ path('member_account') }}">Retour à votre compte</a>
			</button>

			<p class="mt-2">{{ include('purchase/_delete_form.html.twig') }}</p>
		</div>
	</div>

{% endblock %}
