body {
  background-color: #ffffff;
}

/* formulaire stripe */
.block_paiement {
  width: 50%;
}
/* Variables */
* {
  box-sizing: border-box;
}
.paiement form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}
.paiement input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}
.result-message {
  line-height: 22px;
  font-size: 16px;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}
#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}
#payment-request-button {
  margin-bottom: 32px;
}
/* Buttons and links */
.paiement button {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
.paiement button:hover {
  filter: contrast(115%);
}
.paiement button:disabled {
  opacity: 0.5;
  cursor: default;
}
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Les bulles */
#bulledroite {
  position: absolute;
  z-index: 9;
}

#bullegauche {
  position: absolute;
  left: 70%;
  top: 400px;
  z-index: 9;
}

#bullegauche img {
  width: 470px;
}

#bulledroite img {
  width: 470px;
}

.bouton a {
  color: #ffffff !important;
  text-decoration: none !important;
}

#smartphone {
  display: none;
}

.ul {
  padding: 0 !important;
}

/* si je mets ça les liens ne sont plus affichés dans la navbar
a {
  color: white !important;
  text-decoration: none !important;
}
*/

/* --  ==== MEDIAQUERIES ====  -- */

@media all and (max-width: 1366px) {
  /* ipad pro */

  .navbar-collapse {
    max-width: 100%;
  }

  #smartphone {
    display: block;
    font-size: 2em;
    margin-top: 250px;
  }

  .container-fluid {
    margin-left: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto !important;
  }

  /* Les bulles */
  #bulledroite {
    position: absolute;
    z-index: 9;
    left: 70px;
    top: 750px;
  }

  #bullegauche {
    position: absolute;
    left: 500px;
    top: 750px;
    z-index: 9;
  }

  #bullegauche img {
    width: 300px;
  }

  #bulledroite img {
    width: 300px;
  }

  .ul {
    padding: 0 !important;
  }
}

@media all and (max-width: 1024px) {
  /* ipad */

  .ul {
    padding: 0 !important;
  }

  .navbar-collapse {
    max-width: 100%;
  }

  #smartphone {
    display: block;
    font-size: 2em;
    margin-top: 250px;
  }
  /* je change la taille des images */

  /* pour afficher les menus en colonne */
  .responsive {
    display: flex;
    flex-direction: column;
  }

  .container-fluid {
    margin-left: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto !important;
  }

  /* Les bulles */
  #bulledroite {
    position: absolute;
    z-index: 9;
    left: 70px;
    top: 750px;
  }

  #bullegauche {
    position: absolute;
    left: 400px;
    top: 750px;
    z-index: 9;
  }

  #bullegauche img {
    width: 300px;
  }

  #bulledroite img {
    width: 300px;
  }
}

@media all and (max-device-width: 480px) {
  /* smartphone */

  /* pour afficher les menus en colonne */
  .responsive {
    display: flex;
    flex-direction: column;
  }

  #smartphone {
    display: block;
    font-size: 1em;
    margin-top: 180px;
  }
  /* je change la taille des images */
  .w-100 {
    width: 150% !important;
    height: 150% !important;
    object-fit: contain;
  }
  .container-fluid {
    margin-left: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto !important;
  }

  /* Les bulles */
  #bulledroite {
    position: absolute;
    z-index: 9;
    left: 10px;
    top: 750px;
  }

  #bullegauche {
    position: absolute;
    left: 200px;
    top: 750px;
    z-index: 9;
  }

  #bullegauche img {
    width: 200px;
  }

  #bulledroite img {
    width: 200px;
  }

  .ul {
    padding: 0 !important;
  }

  /* partie administration */
  @media (max-width: 700px) {
    .table thead {
      display: none;
    }
    .table tr {
      display: block;
      margin-bottom: 40px;
    }
    .table td {
      display: block;
      text-align: right;
    }
    .table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }

  .btn-warning {
    margin-top: 5px;
  }

  .smartphone {
    font-size: 1em;
  }

  /* paiement */
  .block_paiement {
    width: 90%;
  }
}
